body {
    background-color: #dddddd;
    text-align: center;
}

.chart-text {
    font-family: sans-serif;
    color: #333333;
    width: 800px;
    margin: auto;
    font-size: 20px;
}

h1 {
    font-family: sans-serif;
    color: #333333;
}

#myChart {
    margin: auto;
    padding-top: 50px;
}

.link-div {
    font-family: sans-serif;
    padding-top: 25px;
}

a {
    color: #333333;
}

a:hover {
    font-weight: bold;
} 